<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Web</title>
    <link rel="stylesheet" href="styles/home.css">
</head>
<body>
    <div class="content-container">
        <div>
            <h1>Your Blogs</h1>
        </div>
        <div>
            <form action="/create" method="post" id="create-area">
                <div><input type="text" name="title" id="title" placeholder="New title" required /></div>
                <div>
                    <textarea name="content" id="content" placeholder="New content" rows="4" cols="40" required></textarea>
                    <input type="submit" value="Post" id="post" />
                </div>
            </form>
        </div>

        <div id="post-list-container">
            <!-- <ul id="post-list"> -->
                <% listPost.forEach((post) => { %>
                        <div class="list-item"><li><a href="/content/<%= post.id %>"><%= post.title %></a></li></div>
                <% }); %>
            <!-- </ul> -->
        </div>
    </div>

    <script>

        document.addEventListener('DOMContentLoaded', function () {

            const contentArea = document.getElementById('content');
            contentArea.onclick = function (event) {
                contentArea.setAttribute("rows", 35);
                event.stopPropagation(); // Prevents event bubbling to prevent document's click event from being triggered immediately
            };

            document.onclick = function () {
                contentArea.setAttribute("rows", 4); // Event triggered when clicking elsewhere in the document
            };
        });

    </script>

    <%- include('partials/footer.ejs'); %>
</body>
</html>





